@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

button *, button:focus *
{
  background: transparent !important;
  background-image: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

#zotero-items-tree treechildren::-moz-tree-image(scite-state-supporting)
{
  margin: 1px 5px 0;
  list-style-image: url(chrome://zotero-scite/skin/supporting.png);
  height: 16px;
}

#zotero-items-tree treechildren::-moz-tree-image(scite-state-disputing)
{
  margin: 1px 5px 0;
  list-style-image: url(chrome://zotero-scite/skin/disputing.png);
  height: 16px;
}

#zotero-items-tree treechildren::-moz-tree-image(scite-state-mentioning)
{
  margin: 1px 5px 0;
  list-style-image: url(chrome://zotero-scite/skin/mentioning.png);
  height: 16px;
}

#zotero-items-tree treechildren::-moz-tree-image(scite-state-loading)
{
  margin: 1px 5px 0;
  list-style-image: url(chrome://zotero-scite/skin/loading.jpg);
  height: 16px;
}
